@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;500&display=swap");
:root {
  --primary-color: #0086b3;
  --post-primar-color: #0099cc;
  --secondar-color: #94b8b8;
  --black-color: #1a1a1a;
  --replacer-color: #45a049;
  --background-color: #fbfbfb;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: var(--black-color);
}
.title {
  display: none;
}
@media only screen and (max-width: 600px) {
  @import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
  body {
    background-color: var(--background-color);
  }
  .title {
    background-color: var(--black-color);
    padding: 10px;
    padding-top: 14px;
    padding-bottom: 12px;
    display: block;
    width: auto;
    border-bottom: var(--background-color) 0px solid;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    margin-bottom: 10px;
  }
  .title ul {
    display: inline;
  }
  .title ul li {
    display: inline-flex;
  }
  .menu {
    float: right;
    cursor: pointer;
  }
  .heading {
    margin-left: 10px;
  }
  .title h2 {
    color: var(--background-color);
    font-family: "Great Vibes", cursive;
    font-weight: 600;
    font-size: xx-large;
  }
  .nav {
    display: none;
    background-color: var(--black-color);
    padding: 8px;
    padding-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    padding-bottom: 16px;
    border-bottom: var(--black-color) 1px solid;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 12px;
  }
  .nav ul li {
    padding: 12px;
    border-bottom: var(--background-color) 0.75px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-style: solid;
  }
  .nav ul li a {
    color: var(--background-color);
    font-weight: 200;
    text-align: center;
  }
}
p {
  color: var(--black-color);
  font-weight: 200;
}
h3 {
  font-weight: 300;
  color: var(--post-primar-color);
}
h2 {
  font-weight: 500;
  color: var(--primary-color);
}
.nav li a {
  text-decoration: none;
  color: var(--primary-color);
}
.contact_form{
  padding: 25px;
  padding-top: 16px;
  padding-bottom: 13px;
  background-color: #f2f2f2;
  border-radius: 5px;
  color: var(--black-color);
  font-size: medium;
  padding-bottom: 20px;
}
input[type=text],input[type=tel],input[type=email],textarea{
  width: 100%;
  padding: 12px;   
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box;
  margin-top: 12px; 
  margin-bottom: 16px; 
  resize: vertical;
  font-size:medium;
}
input[type=submit]{
  background-color:var(--replacer-color);
  color: white;
  padding: 15px;
  border: 1px solid;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 400;
  font-size: medium;
  box-sizing: border-box;
  width: 30%;
  height: 48px;
  resize: vertical;
  margin-top: 0px;
}
textarea{
  height: 30vh;
}
.contact_form img{
  margin-top: 15px;
  margin-bottom: 15px;
}
.contact_form h1{
  color: var(--primary-color);
  font-weight: 400;
  font-family: 'Segoe UI', sans-serif;
}